/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
    width: 100%;
}

body {
    background: #292929;
    padding: 0;
    font-size: 12px;
    font-family: 'PressStart2P', sans-serif;
    color: #000;
    margin: 0 auto;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
}

select, input, textarea {
    font-size: 12px;
    font-family: 'PressStart2P', sans-serif;
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

:focus {
    outline: none;
}

input[type=button] {
    cursor: pointer;
}

img, fieldset {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link, a:visited {
    font-size: 12px;
    font-family: 'PressStart2P', sans-serif;
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
@font-face {
    font-family: 'PressStart2P';
    src: url('./../font/PressStart2P.ttf'),
    url('./../font/PressStart2P.woff'),
    url('./../font/PressStart2P.eot'),
    url('./../font/PressStart2P.svg');
}
@font-face {
    font-family: 'SilkScreen';
    src: url('./../font/SilkScreen.ttf'),
    url('./../font/SilkScreen.woff'),
    url('./../font/SilkScreen.eot'),
    url('./../font/SilkScreen.svg');
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
h2 {
    color: #8ad3d6;
    font-size: 50px;
    text-align: center;
    margin: 20px 0 0 0;
}
h2 .orange {
    color: #eb6a2b;
}
h2 .brown {
    color: #c69c6d;
}
h2 .yellow {
    color: #fff568;
}
h2 .for {
    color: #eb6a2b;
    display: block;
    font-family: "Lobster Two", sans-serif;
    text-transform: none;
    font-weight: bold;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    margin: 0 0 5px 0;
}
h3 {
    color: #fff568;
    font-size: 25px;
    padding: 5px 0;
    width: 200px;
    margin: 0 auto;
}
fieldset {
    margin: 50px auto 0 auto;
    padding: 10px;
    width: 250px;
    /*height: 150px;*/
    text-align: center;
    -webkit-box-shadow: 0 0 15px #8ad3d6;
    -moz-box-shadow: 0 0 15px #8ad3d6;
    box-shadow: 0 0 15px #8ad3d6;
}
fieldset label {
    display: none;
}
fieldset li {
    margin: 10px 0 0 0;
}
fieldset input.error {
    border: 2px solid #ff0000 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
fieldset input[type="text"], fieldset input[type="password"] {
    background: #f7fcff;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 7px;
    width: 200px;
    border: 1px solid #a4a9ab;
}
fieldset input[type="submit"] {
    background: #eb6a2b;
    color: #fff;
    font-size: 15px;
    padding: 5px 15px;
    cursor: pointer;
}