/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
    width: 100%;
}

body {
    padding: 0;
    font-size: 12px;
    font-family: 'PressStart2P', sans-serif;
    color: #000;
    background: url("./../images/bg.png");
    margin: 0 auto;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
}

select, input, textarea {
    font-size: 12px;
    font-family: 'PressStart2P', sans-serif;
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

:focus {
    outline: none;
}

input[type=button] {
    cursor: pointer;
}

img, fieldset {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link, a:visited {
    font-size: 12px;
    font-family: 'PressStart2P', sans-serif;
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
@font-face {
    font-family: 'PressStart2P';
    src: url('./../font/PressStart2P.ttf'),
    url('./../font/PressStart2P.woff'),
    url('./../font/PressStart2P.eot'),
    url('./../font/PressStart2P.svg');
}
@font-face {
    font-family: 'SilkScreen';
    src: url('./../font/SilkScreen.ttf'),
    url('./../font/SilkScreen.woff'),
    url('./../font/SilkScreen.eot'),
    url('./../font/SilkScreen.svg');
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
/* Header BEGIN*/

.header {
    overflow: hidden;
    background: #292929;
    /*background-color: rgba(41, 41, 41, 0.7);*/
    border-bottom: 4px solid #1e1e1e;
    width: 100%;
    min-width: 1190px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
}
.header h1 {
    border-right: 1px dotted #505555;
    width: 120px;
    float: left;
    overflow: hidden;
    height: 100%;
}
.header h1 a {
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    color: #8ad3d6;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 15px 0;
}
.header h1 .orange {
    color: #eb6a2b;
}
.header h1 .brown {
    color: #c69c6d;
}
.header h1 .yellow {
    color: #fff568;
}
.header h1 .for {
    color: #eb6a2b;
    display: block;
    font-family: "Lobster Two", sans-serif;
    text-transform: none;
    font-weight: bold;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    margin: 0 0 5px 0;
}
.header .user {
    overflow: hidden;
    border-right: 1px dotted #505555;
    padding: 0 25px;
    width: 200px;
    height: 100%;
    float: left;
    color: #8ad3d6;
}
.header .user img {
    float: left;
    margin: 10px 15px 0 0;
}
.header .user .level {
    display: block;
    float: left;
    margin: 20px 0 15px 0;
}
.header .user .name {
    color: #fff;
}
.header .items {
    float: left;
    border-right: 1px dotted #505555;
    overflow: hidden;
    height: 100%;
    padding: 0 30px;
    margin: 0 20px 0 0;
}
.header .items h2 {
    color: #f5eb65;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}
.header .items .numItems {
    color: #eb6a2b;
    width: 30px;
    display: inline-block;
}
.header .items .wrapItems {
    position: relative;
}
.header .items .wrapSlider {
    overflow: hidden;
    margin: 0 auto;
    width: 233px;
}
.header .items ul {
    width: 1000px;
    -webkit-transition: margin .2s ease;
    transition: margin .2s ease;
}
.header .items li:first-child {
    margin: 0;
}
.header .items li {
    float: left;
    margin: 0 0 0 5px;
    cursor: pointer;
}
.header .items li img {
    border: 1px solid #fff568;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.header .items .controlDisable {
    background: url("./../images/arrows/disableControls.png") no-repeat !important;;
}
.header .items .control {
    background: url("./../images/arrows/enableControls.png") no-repeat;
    display: block;
    width: 10px;
    height: 18px;
    text-indent: -200px;
    overflow: hidden;
    position: absolute;
    top: 30%;
}
.header .items .left {
    left: 0;
}
.header .items .right {
    background-position: -10px 0 !important;
    right: 0;
}
.header .chatButton {
    background: url("./../images/chatIcon.png") left center no-repeat;
    overflow: hidden;
    display: block;
    color: #fff568;
    text-transform: uppercase;
    padding: 35px 0 35px 30px;
    float: left;
}
.header .chatButton .numOnline {
    width: 50px;
    display: inline-block;
    text-align: center;
    color: #ce5f2b;
}
.header .logOut {
    background: url("./../images/logOutIcon.png") left center no-repeat;
    color: #8ad3d6;
    text-transform: uppercase;
    overflow: hidden;
    display: block;
    float: right;
    padding: 35px 0 35px 30px;
    margin: 0 40px 0 0;
}

/* Header END*/

/* Chat BEGIN*/

.chat {
    background: #292929;
    width: 300px;
    height: 100%;
    min-height: 420px;
    padding: 25px 0;
    overflow: hidden;
    position: fixed;
    top: 84px;
    right: -300px;
    background: rgba(41, 41, 41, 0.7);
    -webkit-transition: right .2s ease;
    transition: right .2s ease;
}
.chat h3 {
    color: #eb6a2b;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    font-family: "SilkScreen", sans-serif;
}
.chat h3 .me {
    color: #8ad2d5;
}
.chat h3 .state {
    color: #fff;
}
.chat ul {
    padding: 0 20px;
    overflow: hidden;
    height: 45%;
    /*overflow-y: scroll;*/
}
.chat li {
    overflow: hidden;
    margin: 0 0 15px 0;
}
.chat li h3 {
    float: left;
    margin: 0 0 5px 0;
}
.chat li .date {
    font-family: "SilkScreen", sans-serif;
    float: right;
    font-size: 14px;
    color: #a0a0a0;
}
.chat li p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    clear: both;
}
.chat fieldset {
    border-top: 1px dotted #000;
    padding: 0 20px;
    position: absolute;
    bottom: 140px;
    left: 0;
}
.chat fieldset textarea {
    width: 255px;
    height: 120px;
    margin: 0 0 10px 0;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
}
.chat fieldset input[type="submit"] {
    background: #eb6a2b;
    border: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}
.chat .close {
    background: url("./../images/close.png") center center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    text-indent: -200px;
    overflow: hidden;
 }

/* Chat END*/

/* Messages */
.info {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.info li:first-child {
    margin: 0;
}
.info li {
    margin: 15px 0 0 0;
    position: relative;
}
.message {
    padding: 30px;
    background: rgba(41, 41, 41, 0.7);
    width: 260px;
    height: 60px;
    display: none;
}
.message h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    margin: 0 0 20px 0;
}
.message p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

.message .close {
    background: url("./../images/close.png") center center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    text-indent: -200px;
    overflow: hidden;
}

/* Game over */

.gameOver {
}
.gameOver h3 span {
    color: #eb6a2b;
}
.gameOver ul {
    overflow: hidden;
    width: 135px;
    margin: 0 auto;
}
.gameOver li:first-child {
    margin: 0;
}
.gameOver li {
    float: left;
    overflow: hidden;
    margin: 0 0 0 10px;
}
.gameOver li a {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    display: block;
}
.gameOver li.again a {
    background: #eb6a2b;
}
.gameOver li.exit a {
    background: #292929;
}

/* Find an item */

.findItem h3 span {
    color: #8ad2d5;
}
.findItem p {
    text-align: center;
}

/* Log in block*/

.logIn {
    /*display: none;*/
    background: #292929;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logIn h2 {
    color: #8ad3d6;
    font-size: 50px;
    text-align: center;
    margin: 40px 0 0 0;
}
.logIn h2 .orange {
    color: #eb6a2b;
}
.logIn h2 .brown {
    color: #c69c6d;
}
.logIn h2 .yellow {
    color: #fff568;
}
.logIn h2 .for {
    color: #eb6a2b;
    display: block;
    font-family: "Lobster Two", sans-serif;
    text-transform: none;
    font-weight: bold;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    margin: 0 0 5px 0;
}
.logIn h3 {
    color: #fff568;
    font-size: 25px;
    padding: 5px 0;
    width: 200px;
    margin: 0 auto;
}
.logIn fieldset {
    margin: 50px auto 0 auto;
    padding: 10px;
    width: 250px;
    /*height: 150px;*/
    text-align: center;
    -webkit-box-shadow: 0 0 15px #8ad3d6;
    -moz-box-shadow: 0 0 15px #8ad3d6;
    box-shadow: 0 0 15px #8ad3d6;
}
.logIn fieldset label {
    display: none;
}
.logIn fieldset li {
    margin: 10px 0 0 0;
}
#logIn fieldset input.error {
    border: 2px solid #ff0000 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.logIn fieldset input[type="text"], fieldset input[type="password"] {
    background: #f7fcff;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 7px;
    width: 200px;
    border: 1px solid #a4a9ab;
}
.logIn fieldset input[type="submit"] {
    background: #eb6a2b;
    color: #fff;
    font-size: 15px;
    padding: 5px 15px;
    cursor: pointer;
}
