/* header on narrower devices */

@media (max-width: 1200px) {
    .header .user {
        padding: 0 15px;
    }
    .header .items {
        padding: 0 15px;
        margin: 0 10px 0 0;
    }
    .header .logOut {
        font-size: 0;
        height: 12px;
        margin: 0 10px 0 0;
    }
}